.app__navigator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: #2e3238;
  width: 280px;
  z-index: 1000;
}

.app__navigator-menu-config {
  position: absolute;
  bottom: 15px;
}

.app__navigator-menu-item {
  margin-top: 30px;
  transition: all .3s;
}

.app__navigator-menu-item:last-child {
  position: absolute;
  bottom: 15px;
}

.app__navigator-menu-item_current .app__navigator-menu-icon {
  color: #20a6a5;
}

.app__navigator-menu-icon {
  font-size: 24px;
  color: #888;
}

.app__navigator-menu-item:hover .app__navigator-menu-icon{
  color: #20a6a5;
}
