.view__home {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 56px;
    padding-top: 55px;
}

.view__home-logo {
    margin: 100px auto auto auto;
}

.view__home-logo-image {
    margin: auto;
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
}

.view__home-logo-text {
    display: block;
    text-align: center;
    color: #2dbe60;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.view__home-progress {
    text-align: center;
    height: 400px;
    width: 100%;
    top: 0;
}

.view__home-progress-circular {
    position: absolute!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.view__home-drawer {
    padding-top: 104px;
    box-sizing: border-box;
    background: linear-gradient(37deg, #20a6a5 0, #5bc583 100%);
}

.view__home-drawer-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.view__headers {
    padding: 24px;
}

.view__header {
    position: relative;
    margin-bottom: 10px;
}

.view__header-name {
    font-size: 12px;
    position: relative;
    color: #20a6a5;
}

.view__header-value {
    font-size: 13px;
    line-height: 150%;
    word-break: break-all;
}

.view__home-drawer-content {
    padding-bottom: 56px;
    box-sizing: border-box;
    height: 100%;
}

.view__home-progress {
    text-align: center;
    padding-top: 100px;
}

.view__mime-code {
    margin: 34px!important;
    font-size: 12px;
    word-break: break-all;
    height: 100%;
    background: none!important;
}

.view__imie-media {
    position: relative;
    height: 100%;
    overflow: scroll;
}

.view__imie-media-audio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view__imie-image {
    position: relative;
    height: 100%;
}

.view__imie-image-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}