body,html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: STHeiti;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.view__root {
  height: 100%;
}

.view__app {
  box-sizing: border-box;
  height: 100%;
}
