<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>client</key>
    <dict>
      <key>brief</key>
      <dict>
        <key>className</key>
        <string>Client</string>
        <key>text</key>
        <string>资源请求</string>
        <key>icon</key>
        <string>request</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-client</string>
        <key>ui</key>
        <true/>
        <key>namespace</key>
        <string>client/</string>
      </dict>
      <key>config</key>
      <dict>
        <key>className</key>
        <string>Client</string>
        <key>text</key>
        <string>资源请求</string>
        <key>icon</key>
        <string>request</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-client</string>
        <key>ui</key>
        <true/>
        <key>namespace</key>
        <string>client/</string>
      </dict>
    </dict>
    <key>devtool</key>
    <dict>
      <key>brief</key>
      <dict>
        <key>className</key>
        <string>Devtool</string>
        <key>text</key>
        <string>远程调试</string>
        <key>icon</key>
        <string>request</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-devtool</string>
        <key>ui</key>
        <true/>
        <key>namespace</key>
        <string>devtool/</string>
      </dict>
      <key>config</key>
      <dict>
        <key>className</key>
        <string>Devtool</string>
        <key>text</key>
        <string>远程调试</string>
        <key>icon</key>
        <string>request</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-devtool</string>
        <key>ui</key>
        <true/>
        <key>namespace</key>
        <string>devtool/</string>
      </dict>
    </dict>
    <key>host</key>
    <dict>
      <key>brief</key>
      <dict>
        <key>className</key>
        <string>Host</string>
        <key>text</key>
        <string>域名配置</string>
        <key>icon</key>
        <string>host</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-host</string>
        <key>ui</key>
        <true/>
      </dict>
      <key>config</key>
      <dict>
        <key>className</key>
        <string>Host</string>
        <key>text</key>
        <string>域名配置</string>
        <key>icon</key>
        <string>host</string>
        <key>uri</key>
        <string>/Users/weiyanhai/Desktop/AW/aniwei.proxy/lib/components/component-host</string>
        <key>ui</key>
        <true/>
      </dict>
    </dict>
  </dict>
</plist>