<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificate-configure</key>
	<dict>
		<key>key</key>
		<string>certificate-configure</string>
		<key>text-cn</key>
		<string>证书配置</string>
		<key>text-en</key>
		<string>Certificate Configure</string>
		<key>value</key>
		<dict>
			<key>forgeCommonExtensions</key>
			<array>
				<dict>
					<key>name</key>
					<string>keyUsage</string>
					<key>critical</key>
					<true/>
					<key>digitalSignature</key>
					<true/>
					<key>keyEncipherment</key>
					<true/>
				</dict>
				<dict>
					<key>name</key>
					<string>basicConstraints</string>
					<key>critical</key>
					<false/>
					<key>cA</key>
					<false/>
				</dict>
				<dict>
					<key>name</key>
					<string>extKeyUsage</string>
					<key>serverAuth</key>
					<true/>
					<key>clientAuth</key>
					<true/>
				</dict>
			</array>
			<key>commonExtensions</key>
			<array>
				<dict>
					<key>name</key>
					<string>subjectKeyIdentifier</string>
				</dict>
				<dict>
					<key>name</key>
					<string>authorityKeyIdentifier</string>
					<key>keyIdentifier</key>
					<true/>
				</dict>
			</array>
			<key>size</key>
			<real>2048</real>
			<key>attributes</key>
			<array>
				<dict>
					<key>value</key>
					<string>aniwei.tech</string>
					<key>shortName</key>
					<string>OU</string>
					<key>valueTagClass</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>organizationName</string>
					<key>value</key>
					<string>Created by aniwei.studio</string>
					<key>valueTagClass</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
	</dict>
	<key>proxy-port-number</key>
	<dict>
		<key>key</key>
		<string>proxy-port-number</string>
		<key>text-cn</key>
		<string>代理端口</string>
		<key>text-en</key>
		<string>Proxy PortNumber</string>
		<key>value</key>
		<integer>8888</integer>
	</dict>
	<key>configure-file</key>
	<dict>
		<key>key</key>
		<string>configure-file</string>
		<key>text-cn</key>
		<string>配置文件</string>
		<key>text-en</key>
		<string>Configure File</string>
		<key>value</key>
		<string>configure.plist</string>
	</dict>
	<key>temporary-path</key>
	<dict>
		<key>key</key>
		<string>temporary-path</string>
		<key>text-cn</key>
		<string>临时文件目录</string>
		<key>text-en</key>
		<string>Temporary Path</string>
		<key>value</key>
		<string>temporary</string>
	</dict>
	<key>project</key>
	<dict>
		<key>key</key>
		<string>project</string>
		<key>text-cn</key>
		<string>项目名称</string>
		<key>text-en</key>
		<string>Project Name</string>
		<key>value</key>
		<string>aniwei.studio</string>
	</dict>
</dict>
</plist>
