<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>component-websocket</key>
  <dict>
		<key>key</key>
		<string>component-websocket</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>地址格式化</string>
			<key>icon</key>
			<string>format</string>
		</dict>
	</dict>
	<key>component-url-formatter</key>
	<dict>
		<key>key</key>
		<string>component-url-formatter</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>地址格式化</string>
			<key>icon</key>
			<string>format</string>
		</dict>
	</dict>
	<key>component-devtool</key>
  <dict>
		<key>key</key>
		<string>component-devtool</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>调试工具</string>
			<key>icon</key>
			<string>devtool</string>
		</dict>
	</dict>
  <key>component-ui</key>
  <dict>
		<key>key</key>
		<string>component-ui</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>地址格式化</string>
			<key>icon</key>
			<string>format</string>
		</dict>
	</dict>
  <key>component-ip</key>
	<dict>
		<key>key</key>
		<string>component-ip</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>地址格式化</string>
			<key>icon</key>
			<string>ip</string>
		</dict>
	</dict>
  <key>component-client</key>
	<dict>
		<key>key</key>
		<string>component-client</string>
		<key>brief</key>
		<dict>
			<key>text</key>
			<string>资源请求</string>
			<key>icon</key>
			<string>request</string>
		</dict>
	</dict>
</dict>
</plist>
