.app__setting {
  display: none;
  width: 320px;
}

.app__setting-title {
  background-color: #efefef;
  padding: 15px;
  color: #888;
}

.app__setting-listview {
  overflow: hidden;
}

.app__setting-item {
  float: left;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.app__setting-item:nth-child(3n) {
  border-right: none;
}

.app__setting-item:hover {
  background-color: #f1f1f1;
}

.app__setting-icon {
  margin-top: 20px;
  font-size: 26px;
  display: block;
  text-align: center;
}

.app__setting-text {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #888;
} 

.app__setting-icon-cert {
  color: #5bc583
}

.app__setting-icon-json {
  color: #5bc583
}

.app__setting-icon-replace {
  color: #20a6a5
}


.app__setting-icon-host {
  color: #20a6a5
}